In [1]:
import pandas as pd
import numpy as numpy

In [2]:
df = pd.read_csv('train.csv')
df.sample(4)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
276758,1324956,91,83,1230,321.07,321.07,0,0,135
412574,1020935,132,113,1558,540.29,659.63,0,0,243
430045,1491214,137,132,1438,194.00,196.00,0,0,149
92221,1334385,32,50,1216,416.13,418.13,0,0,108