In [1]:
import pandas as pd
import numpy as numpy

In [3]:
df_fulfilment = pd.read_csv('fulfilment_center_info.csv')
df_fulfilment.head(3)

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0

In [6]:
df_meal = pd.read_csv('meal_info.csv')
df_meal.sample(3)

    meal_id   category cuisine
5      1311     Extras    Thai
3      1248  Beverages  Indian
37     1247    Biryani  Indian

In [7]:
df_sample=pd.read_csv('sample_submission.csv')
df_sample.head(3)

        id  num_orders
0  1028232           0
1  1127204           0
2  1212707           0

In [8]:
df_fulfilment = pd.read_csv('fulfilment_center_info.csv')
df_fulfilment.head(3)

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0

In [9]:
df_meal = pd.read_csv('meal_info.csv')
df_meal.head(3)

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai